<app-menu></app-menu>
<section class="contact">
    <div class="container mt-5">
        <form class="text-center border border-light p-5" style="background-color: #f1f1f1;">
            <p class="h4 mb-4">Contact Us</p>
            <input type="text" id="name" class="form-control mb-4" placeholder="Name">
            <input type="email" id="email" class="form-control mb-4" placeholder="Email">
            <textarea id="message" class="form-control rounded-0 mb-4" rows="3" placeholder="Message"></textarea>
            <button class="btn btn-dark btn-block" type="submit">Send</button>
        </form>
    </div>
</section>
<app-footer></app-footer>