<section class="collection">
    <div class="container">
        <div class="row">
            <div class="img-container">
                <img class="img-collection d-block" src="/assets/Collection/Collection1.jpeg" alt="Collection">
            </div>
            <div class="text-section">
                <h2 class="section-title">Out Of Office On</h2>
                <p>Your holiday checklist , rigth here...</p>
                <button> HOLIDAY SHOP</button>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-section">
                <h2 class="section-title">Take Centre Stage</h2>
                <p>You've got the ticket , now you need the clothes</p>
                <button> FESTIVAL ESSENTIALS</button>
            </div>
            <div class="img-container">
                <img class="img-collection d-block" src="/assets/Collection/Collection2.jpeg" alt="Collection">
            </div>
        </div>
    </div>
</section>