<app-menu></app-menu>
<div class="outer-container mx-0 " style="margin-top: 100px;">
    <div class="container-fluid mx-auto">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 p-0" *ngFor="let vetement of vetements ,let i = index ">
                <div class="image-container"
                    (mouseover)="currentImage[i]=vetement.images[vetement.images.length - 1]; isHovering[i]=true"
                    (mouseout)="currentImage[i]=vetement.images[0]; isHovering[i]=false"
                    style="cursor: pointer; position: relative;" [routerLink]="['/detail', vetement.id]">
                    <img [src]="currentImage[i]" class="img-fluid w-100 h-100">
                    <button [ngStyle]="{'display': isHovering[i] ? 'block' : 'none'}">Details</button>
                    <div class="image-text">
                        <h5>{{vetement.nom}}</h5>
                        <p>${{vetement.prix}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>