<section class="password-section">
    <h2>Change Password</h2>
    <div class="password">
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="Current Password" name="currentPassword" required="">
            <label for="CurrentPassword" class="form__label">Current Password</label>
        </div>
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="New Password" name="newPassword" required="">
            <label for="newPassword" class="form__label"> New Password </label>
        </div>
        <div class="form__group field">
            <input type="email" class="form__field" placeholder="Confirm Password" name="confirmPassword" required="">
            <label for="confirmPassword" class="form__label">Confirm Password</label>
        </div>
        <div class="btns">
            <button class="btn-primary">SAVE</button>
            <button class="btn-secondary">CANCEL</button>
        </div>
    </div>
</section>