/* Menu Css */
.promo {
    margin-top: 0px;
    padding: 3px;
    background-color: #000000;
    margin-bottom: -10px;
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Nav Css*/
.navbar {
    position: fixed;
    padding: 0px;
    top: 35px;
    left: 0;
    right: 0;
    background-color: #ffffff00;
    font-family: var(--font-primary);
    margin-bottom: 0px;
    display: flex;
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
}

.navbar-brand {
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 300;
    margin-left: 1%;
    padding: 0px;
    color: white;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
    position: relative;
    font-size: 16px;
    font-family: var(--font);
    font-optical-sizing: auto;
    align-items: flex-start;
    justify-content: left;

}

.nav-link:hover,
.nav-link:active {
    color: #000000;
}

/* Hover NOT menu */
.hover-applied {
    background-color: #fafafa;
    margin-bottom: 2000px;
}

.is-black {
    color: #000000;
}

.is-black-fill {
    fill: #000000;
}


/* Hover menu*/

.navbar:hover {
    background-color: #ffffff;
}

.navbar:hover .navbar-brand,
.navbar:hover .nav-link {
    color: #000000;
}

.navbar:hover svg path {
    fill: #000000;
}

/*  Scroll menu */

.navbar.scrolled {
    top: 0px;
    background-color: #ffffff;
    color: #000000;
}

.navbar.scrolled svg path {
    fill: #000000;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand {
    color: #000000;

}

.styleNoHome {
    color: #000000;
    background-color: #ffffff;
}

@media (min-width :991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #B29B83;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        visibility: visible;
        width: 100%;
    }
}

/* icons */

.icons {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.icons li {
    margin: 0 15px;
}