<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div *ngFor="let image of vetement?.images">
                <img [src]="image" class="img-fluid w-100 h-100" #lastImage>
            </div>
        </div>
        <div class="details">
            <div class="presentation">
                <p class="material">{{vetement?.categorie}}</p>
                <h2>{{vetement?.nom}} <span>$168</span></h2>
                <p class="text">{{vetement?.product}}</p>
            </div>

            <div class="color-choix">
                <p>{{vetement?.couleurName}} <span> #116344 </span></p>
                <div class="color-option" style="background-image: url(
                    {{vetement?.couleur}});">
                </div>
            </div>


            <div class="form-group">
                <label for="sizeSelect">Modelis 5'10/178 cm wearing a size S </label>
                <select class="form-control" id="sizeSelect">
                    <option>XS</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                </select>
            </div>
            <div *ngIf="vetement">
                <button class="btn" (click)="ajouterAuPanier(vetement)">Add to Cart</button>
            </div>

            <h2>Always makes the cut </h2>
            <p class="description">
                {{vetement?.description}}
            </p>
            <ul>
                <li><a>Details</a></li>
                <li><a>Shipping & Returns</a></li>
                <li><a>Size Guide</a></li>
                <li><a>Reviews</a></li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>