<section class="best-sellers">
    <div class="container">
        <h2 class="section-title">Best Sellers</h2>
        <div class="row align-items-center justify-content-center">
            <div class="col align-items-center justify-content-center">
                <img class="img-sellers" src="/assets/BestSellers/2.png" alt="Collection">
                <h3>Product Name</h3>
                <p>Price</p>
            </div>
            <div class="col">
                <img class="img-sellers" src="/assets/BestSellers/3.png" alt="Collection">
                <h3>Product Name</h3>
                <p>Price</p>
            </div>
            <div class="col">
                <img class="img-sellers" src="/assets/BestSellers/4.png" alt="Collection">
                <h3>Product Name</h3>
                <p>Price</p>
            </div>
            <div class="col">
                <img class="img-sellers" src="/assets/BestSellers/5.png" alt="Collection">
                <h3>Product Name</h3>
                <p>Price</p>
            </div>
        </div>
    </div>

</section>