<app-menu></app-menu>
<section class="affiliate-container affiliate">
    <h2 class="affiliate-heading">Join Our Affiliate Program</h2>
    <p class="affiliate-description">
        Become a part of our growth and earn by promoting our unique, eco-friendly apparel. Our program is designed for
        those who love fashion and sustainability, offering competitive commissions for every sale you refer. Sign up
        today and start earning with Solar Clothing!
    </p>
    <button class="btn" [routerLink]="['/register']">Sign Up Now</button>
</section>
<app-footer></app-footer>