<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a [routerLink]="['/about']">about us</a></li>
                    <li><a [routerLink]="['/services']">our services</a></li>
                    <li><a [routerLink]="['/privacy']">privacy policy</a></li>
                    <li><a [routerLink]="['/affiliate']">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a [routerLink]="['/faq']">FAQ</a></li>
                    <li><a [routerLink]="['/shipping']">shipping</a></li>
                    <li><a [routerLink]="['/returns']">returns</a></li>
                    <li><a [routerLink]="['/contact']">Contact Us</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a [routerLink]="['/new']">New in</a></li>
                    <li><a [routerLink]="['/collection']">Dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>