<app-menu></app-menu>
<section class="privacy">
    <div class="container my-5">
        <h2 class="text-center mb-4">Privacy Policy</h2>
        <p>Last updated: April 28, 2024</p>
        <h3>Information Collection</h3>
        <p>We collect information from you when you register on our site, place an order, subscribe to our newsletter,
            respond to a survey or fill out a form. Information collected includes your name, email address, mailing
            address, phone number, and payment information.</p>

        <h3>Use of Information</h3>
        <p>The information we collect from you may be used in one of the following ways:</p>
        <ul>
            <li>To personalize your experience (your information helps us to better respond to your individual needs)
            </li>
            <li>To improve our website (we continually strive to improve our website offerings based on the information
                and feedback we receive from you)</li>
            <li>To improve customer service (your information helps us to more effectively respond to your customer
                service requests and support needs)</li>
            <li>To process transactions</li>
            <li>To administer a contest, promotion, survey or other site feature</li>
            <li>To send periodic emails</li>
        </ul>

        <h3>Data Protection</h3>
        <p>We implement a variety of security measures to maintain the safety of your personal information when you
            place an order or enter, submit, or access your personal information.</p>

        <h3>Cookies</h3>
        <p>We use cookies to enhance your experience, gather general visitor information, and track visits to our
            website. If you prefer, you can choose to turn off all cookies via your browser settings.</p>

        <h3>Disclosure to Third Parties</h3>
        <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
            This does not include trusted third parties who assist us in operating our website, conducting our business,
            or servicing you, so long as those parties agree to keep this information confidential.</p>

        <h3>Consent</h3>
        <p>By using our site, you consent to our privacy policy.</p>
    </div>
</section>
<app-footer></app-footer>