<app-menu></app-menu>

<section class="profil">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bienvenu">
                    <h4>Hello, {{ authService.currentUserValue?.username }}</h4>
                    <a (click)="logout()" class="logout">Log out</a>
                </div>
                <div class="list-group">
                    <a [class.active]="currentComponentName === 'overview'" (click)="showComponent('overview')">ACCOUNT
                        OVERVIEW</a>
                    <a [class.active]="currentComponentName === 'details'" (click)="showComponent('details')">PROFILE
                        DETAILS</a>
                    <a [class.active]="currentComponentName === 'password'" (click)="showComponent('password')">CHANGE
                        PASSWORD</a>
                    <a [class.active]="currentComponentName === 'history'" (click)="showComponent('history')">ORDER
                        HISTORY</a>
                </div>
                <div class="help">
                    <h6>NEED HELP?</h6>
                    <p>Please contact the Global-e Customer Service team for all enquiries relating to your
                        international order:</p>
                    <div class="centre">
                        <h6>Global-e Help Centre</h6>
                        <p>Monday to Friday: 09:30-00:00 BST</p>
                        <p>Saturday and Sunday: 09:30-22:00 BST</p>

                    </div>
                    <div class="email">
                        <p>Email: flaviojs1995&#64;gmail.com</p>
                    </div>

                    <p> Contact us</p>
                </div>
            </div>
            <div class="col-md-8">
                <div *ngIf="currentComponent">
                    <ng-container [ngComponentOutlet]="currentComponent"></ng-container>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>