<app-menu></app-menu>

<section class="profil">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bienvenu">
                    <h2>Hello , Utilisateur</h2>
                    <p>Sing out</p>
                </div>
                <div class="list-group">
                    <a href="#" class="">ACCOUNT OVERVIEW</a>
                    <a href="#" class="">PROFILE DETAILS</a>
                    <a href="#" class="">CHANGE PASSWORD</a>
                    <a href="#" class="">ORDER HISTORY</a>
                    <a href="#" class="">ADDRESS BOOK</a>
                    <a href="#" class="">WISH LIST</a>
                </div>
                <div class="help">
                    <h6>NEED HELP?</h6>
                    <p>Please contact the Global-e Customer Service team for all enquiries relating to your
                        international order:</p>
                    <div class="centre">
                        <h6>Global-e Help Centre</h6>
                        <p>Monday to Friday: 09:30-00:00 BST</p>
                        <p>Saturday and Sunday: 09:30-22:00 BST</p>

                    </div>
                    <div class="email">
                        <p>Email: flaviojs1995&#64;gmail.com</p>
                    </div>

                    <p> Contact us</p>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Aquí puedes insertar tus componentes según la selección -->
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>