<section class="sustainability">
    <div class="container">
        <div class="row align-items-center">
            <div class="text">
                <div class="text-sustainability">
                    <h2 class="section-title">Sustainability</h2>
                    <p>Our commitment to sustainability is a key part of our business. We are working towards a more
                        sustainable future by using responsibly sourced materials and working with suppliers who share
                        our
                        values.</p>
                </div>
            </div>
        </div>
    </div>
</section>