<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Login Page</a>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form class="p-4 shadow" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <h2 class="mb-4 text-center">Connexion</h2>

        <!-- Usuario -->
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" [(ngModel)]="username"
            #usernameModel="ngModel" required>
          <div *ngIf="usernameModel.errors?.['required'] && (usernameModel.dirty || usernameModel.touched)"
            class="alert alert-danger mt-2">
            Le nom d'utilisateur est requis.
          </div>
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Mot de passe" name="password" [(ngModel)]="password"
            #passwordModel="ngModel" required>
          <div *ngIf="passwordModel.errors?.['required'] && (passwordModel.dirty || passwordModel.touched)"
            class="alert alert-danger mt-2">
            Le mot de passe est requis.
          </div>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Se connecter</button>
      </form>
    </div>
  </div>
</div>