<app-menu></app-menu>
<section class="login">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form class="p-4 shadow" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <h2 class="mb-4 text-center">Login</h2>

          <!-- Username -->
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username"
              #usernameModel="ngModel" required>
            <div *ngIf="usernameModel.errors?.['required'] && (usernameModel.dirty || usernameModel.touched)"
              class="alert alert-danger mt-2">
              Username is required.
            </div>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password"
              #passwordModel="ngModel" required>
            <div *ngIf="passwordModel.errors?.['required'] && (passwordModel.dirty || passwordModel.touched)"
              class="alert alert-danger mt-2">
              Password is required.
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn-secondary " [disabled]="loginForm.invalid">Log in</button>
          <a [routerLink]="['/register']" class="account">Create Account</a>

        </form>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>