<app-menu></app-menu>
<section class="service">
    <div class="container my-5">
        <h2 class="text-center mb-4">Our Services</h2>
        <div class="row text">
            <div class="col-md-4 text-center">
                <h3>Personal Shopping</h3>
                <p>Get expert fashion advice with our complimentary personal shopping service. Whether you're refreshing
                    your wardrobe or searching for a special occasion, our stylists will help you look your best.</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>Online Styling</h3>
                <p>Explore the latest trends from the comfort of your home. Our online styling service allows you to
                    virtually try on outfits and receive personalized fashion advice through our website or app.</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>Tailoring and Alterations</h3>
                <p>Perfect your fit with our in-house tailoring service. From simple adjustments to custom creations,
                    our skilled tailors ensure your clothes fit you flawlessly.</p>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>